/** @format */

body {
	margin: 0;
    font-family: sans-serif;
}

.header {
	padding-bottom: 1rem;
	border-bottom: 1px solid gainsboro;
}

/* Navbar 01 */

.navbar1 {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 4rem;
}

.navbar1 img {
	height: 2rem;
	width: 2rem;
	margin: auto;
}

.navbar1-left {
	display: flex;
}

.navbar1-left p{
	font-family: cursive;
	padding-left: 0.5rem;
	font-size: larger;
	font-weight: bolder;
	color: red;
}
.navbar1-middle {
	width: 10rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
    margin-left: 10rem;
}

.navbar1-right {
	width: 20rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar1-right-03 {
	padding: 0.5rem;
	border: solid gainsboro 1px;
	border-radius: 50px;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	gap: 0.7rem;
}

/* Navbar 02 */

.navbar2 {
	display: flex;
	justify-content: space-between;
	margin: 0 20rem;
	padding: 0 0.5rem 0 1.5rem;
	border: 1px solid gainsboro;
	border-radius: 100px;
	height: fit-content;
    height: 3.6rem;
}

.text-01 {
	display: flex;
	flex-direction: column;
    font-size: 0.9rem;
}


.navbar2 img {
	height: 3rem;
	width: 3rem;
    padding-top: 0.3rem;
}

.navbar2-text p{margin-top: 0.7rem;
}

/* Section 1 */

.section1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2rem 4rem;
	gap: 1.5rem;
	border-bottom: 1px solid gainsboro;
}
.card {
	width: 20rem;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.light-text{
    color: gray;
}
.img-div {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 15rem;
	overflow: hidden;
	border-radius: 15px;
    margin-bottom: 1rem;
}

.card img {
	width: max-content;
}

/* Section -2 */

.section-2 {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem 4rem;
    border-bottom: 1px solid gainsboro;
}

.section-2-text {
	width: 13.25rem;
}

.text1 {
	margin-bottom: -0.7rem;
}

/* Section -1 */

.section-1 {
	display: flex;
	justify-content: space-between;
	align-content: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid gainsboro;
}



.section-1 div{
    width: 25rem;
}

.head{
    font-weight: bold;
}
/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 4rem;
}

.footer-right{
    display: flex;
    gap: 0.7rem;
}

.footer-right img{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;

}